*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  @include font(1.4rem);
  background-color: $bg;
}

.logo {
  font-size: 16rem;
  font-weight: 600;
  text-align: right;
}

.suptitle {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 8rem;
  text-align: center;
}
.title {
  text-transform: capitalize;
  font-size: 7rem;
  text-align: center;
}